@page
@model RateMyLearning.Pages.IndexModel
@{
    Layout = "_Layout";
}
@{
    ViewData["Title"] = "Home Page";
}

<!-- Full Page Image Header with Vertically Centered Content -->
<header class="masthead">
    <div class="container">
        <div class="row h-100 align-items-center">
            <div class="col-lg-12 text-block">
                <div class="row">
                    <div class="col">
                        <div class="intro-text">
                            <h1 class="font-weight-light text-dark mt-5 mr-8 intro-lead-in">Share your honest experience with us</h1>
                            <p class="lead text-dark mb-4 intro-heading">We care about student success and want them to have the best educational experience possible</p>
                            <a class="btn text-white js-scroll-trigger btn-xl text-uppercase" asp-area="" asp-page="Reviews/Index">Create Review</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>

<!--Lookup data availability-->
<section>
    <div class="container">
        <!--<form class="form-inline d-flex justify-content-center md-form form-sm mt-0">
            <i class="fas fa-search" aria-hidden="true"></i>
            <input class="form-control form-control-sm ml-3 w-75" type="text" placeholder="Search"
              aria-label="Search">
          </form>-->
        <div class="row">
            <div class="col border border-secondary mb-3 mt-5 mr-2">
                <!--Side col for 'Areas of Interest'-->
                <h3 class="text-center mt-2">Browse by Areas of Interest</h3>
                <form class="form-inline d-flex justify-content-center md-form form-sm">
                    <input class="form-control form-control-sm mr-3 w-75" type="text" placeholder="Search"
                           aria-label="Search">
                    <i class="fas fa-search" aria-hidden="true"></i>
                </form>
                <div class="btn-group mt-3 mb-3">
                    <button class="btn mr-1 text-white" type="button" data-toggle="modal" data-target="#ITModal">Applied Computer Studies & IT</button>
                    <!--Modal content start; when you click on the button a window will pop up-->
                    <div class="modal fade" id="ITModal" role="dialog">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                                </div>
                                <div class="modal-body">
                                    <h2 class="text-sm-center">Select one to proceed to reviews</h2>
                                    <div class="accordion" id="accordion">
                                        <!--Accoridan Items Start Here-->

                                        <div class="card">
                                            <div class="card-header collapsed" data-toggle="collapse" href="#collapseOne">
                                                <a class="card-title">Computer Programming </a>
                                            </div>
                                            <div id="collapseOne" class="card-body collapse" data-parent="#accordion">
                                                <p>
                                                    Computer Programmer is a two-year diploma program designed for students who wish to learn the latest skills needed by business application developers in industry,
                                                    but want to graduate sooner than allowed by the three-year Computer Programmer/Analyst program. The program emphasizes problem-solving skills using the latest versions
                                                    of Microsoft, Java and open-source software to develop business and web applications. Object-oriented analysis, design, agile methodologies and programming techniques
                                                    are mastered and applied throughout the program.
                                                </p>
                                            </div>
                                            <div class="card-header collapsed" data-toggle="collapse" href="#collapseTwo">
                                                <a class="card-title">Computer Application Security</a>
                                            </div>
                                            <div id="collapseTwo" class="collapse" data-parent="#accordion">
                                                <div class="card-body">
                                                    Due to the increasing complexity of computer transactions and society's increasing dependence on eCommerce, as well as the proliferation of computing devices,
                                                    the computer security field has become a high profile and rapidly growing, industry. Work in this field is constantly evolving and leads to a range of career options,
                                                    from positions that require a high level of technological sophistication to higher-level management positions. This graduate certificate program will be attractive to graduates
                                                    of software development programs, who will then learn the application security and networking skills needed to access entry level positions offered by a wide range of software development
                                                    companies. Students will learn to secure software applications, including networked, web and mobile applications, against threats by malware and hackers. These skills will be augmented with
                                                    management skills so that graduates will also be able to access careers as corporate security analysts and managers. Students benefit from specialized courses taught by highly qualified
                                                    industry experts and as a result, should expect to have classes scheduled up until 8:00 p.m.
                                                </div>
                                            </div>

                                            <div class="card-header collapsed" data-toggle="collapse" href="#collapseThree">
                                                <a class="card-title">Computer Programming and Analysis</a>
                                            </div>
                                            <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
                                                <div class="card-body">
                                                    Computer Programmer/Analyst is a three-year advanced diploma program in which students learn the latest skills needed by developers in industry. The program emphasizes problem-solving skills
                                                    using the latest versions of Microsoft, Oracle, Java and open-source software to develop enterprise, internet and mobile applications. Object-oriented analysis, design, agile methodologies
                                                    and programming techniques are mastered and applied throughout the program.
                                                </div>
                                            </div>
                                            <div class="card-header collapsed" data-toggle="collapse" href="#collapseFour">
                                                <a class="card-title">Information Technology Infrastructure</a>
                                            </div>
                                            <div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#accordion">
                                                <div class="card-body">
                                                    Information technology workers need a broad range of practical skills to enhance concepts and principles that are often the focus of post-secondary study.
                                                    This two-semester Ontario College Graduate Certificate program concentrates on hands-on application of network and systems administration practices and techniques
                                                    commonly employed in modern IT enterprise infrastructure management.
                                                </div>
                                            </div>
                                            <div class="card-header collapsed" data-toggle="collapse" href="#collapseFive">
                                                <a class="card-title">Information Technology Network Security</a>
                                            </div>
                                            <div id="collapseFive" class="collapse" aria-labelledby="headingFive" data-parent="#accordion">
                                                <div class="card-body">
                                                    Information technology and network infrastructure are targets for malicious activity on a regular basis. News reports about data breaches, security violations, privacy failures
                                                    and other infrastructure failures highlight a growing threat to business and personal information. This one-year, full-time, graduate certificate program is designed
                                                    to address this growing threat to our network infrastructure. It will provide students with the security background in network technologies, computing hardware, operating and protocols,
                                                    to harden and further secure such systems from attack. Students will learn to identify threats through audits and supporting technical methods, as well as evaluate and develop appropriate
                                                    policies to support a strong organizational security posture. This program offers skills that allow graduates to evaluate risk and design infrastructure solutions that keep a business's code,
                                                    data and network systems safe. Students benefit from spec
                                                </div>
                                            </div>
                                            <div class="card-header collapsed" data-toggle="collapse" href="#collapseSix">
                                                <a class="card-title">IT Innovation and Design</a>
                                            </div>
                                            <div id="collapseSix" class="collapse" aria-labelledby="headingSix" data-parent="#accordion">
                                                <div class="card-body">
                                                    Profound changes to the world of computer applications have created the need for a new kind of software development professional. As a result of explosive growth in the use of mobile devices,
                                                    a growing appetite for consumer applications across all demographics, and emerging digital technologies, there is a need for entrepreneurial savvy within Canadian companies to effectively
                                                    compete globally. This demands computer professionals with skills in graphic design, content creation, User Experience (UX), software development, marketing, and business models in order to
                                                    design and market new and competitive software applications. The optional co-op stream includes four consecutive four-month work terms.
                                                </div>
                                            </div>
                                        </div>
                                    </div> <!--Accoridan Items End Here-->
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-default text-white" data-dismiss="modal">Close</button>
                                </div>
                            </div>
                        </div> <!--Modal content end-->
                    </div>
                    <!--Continuation of button group-->
                    <button class="btn mr-1 text-white" type="button" data-toggle="modal" data-target="#listviewModal">Trades & Apprenticeships</button>
                    <button class="btn mr-1 text-white" type="button" data-toggle="modal" data-target="#listviewModal">Creative Studies</button>
                </div>
                <div class="btn-group mb-3">
                    <button class="btn mr-1 text-white" type="button" data-toggle="modal" data-target="#listviewModal">Liberal Studies</button>
                    <button class="btn mr-1 text-white" type="button" data-toggle="modal" data-target="#listviewModal">Health & Life Science</button>
                    <button class="btn mr-1 text-white" type="button" data-toggle="modal" data-target="#listviewModal">Engineering & Technology</button>
                </div>
                <div class="btn-group mb-3">
                    <button class="btn mr-1 text-white" type="button" data-toggle="modal" data-target="#listviewModal">Business</button>
                    <button class="btn mr-1 text-white" type="button" data-toggle="modal" data-target="#listviewModal">Language & Communication Studies </button>
                    <button class="btn mr-1 text-white" type="button" data-toggle="modal" data-target="#listviewModal">Hospitality & Culinary Arts</button>
                </div>
            </div>
            <div class="col border border-secondary mt-5 mb-3">
                <!--Side col for 'Electives'-->
                <h3 class="text-center mt-2">Browse Courses & Electives</h3>
                <form class="form-inline d-flex justify-content-center md-form form-sm">
                    <input class="form-control form-control-sm mr-3 w-75" type="text" placeholder="Search"
                           aria-label="Search">
                    <i class="fas fa-search" aria-hidden="true"></i>
                </form>
                <div class="btn-group mt-3 mb-3 btn-block">
                    <button class="btn mr-1 text-white" type="button" data-toggle="modal" data-target="#listviewModal">Electives</button>
                </div>
                <div class="btn-group mb-3 btn-block">
                    <button class="btn mr-1 text-white" type="button" data-toggle="modal" data-target="#listviewModal">Continuing Education</button>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Reviews Content -->
<section class="py-5">
    <div class="container">
        <div class="col">
            <h2 class="text-center">Most recent reviews</h2>
        </div>
        <div class="card mt-4">
            <div class="card-body">
                <div class="row">
                    <div class="col-md-10">
                        @foreach (var item in Model.ReviewData.Reviews) {
                            <p>
                                <a class="float-left"><strong>@item.Program.Name</strong></a>
                                @{ string rating = "";
                                    for (var i = 0; i < 5; i++) {
                                        if (i < item.Rating) {
                                            rating += @"<span class='float-right'><i class='text-warning fa fa-star checked'></i></span>";
                                        }
                                    }
                                    @Html.Raw(rating);
                                }
                            </p>
                            <div class="clearfix"></div>
                            <p>@item.Description</p>
                            @if (item.Users.TypeId == 1) {
                                <p>Student<br />@item.CreatedOn.ToString("dd MMM yyyy")</p>
                            }
                            else if (item.Users.TypeId == 2) {
                                <p>Faculty<br />@item.CreatedOn.ToString("dd MMM yyyy")</p>
                            }
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Call to Action -->
<section class="call-to-action text-dark">
    <div class="overlay"></div>
    <div class="container">
        <div class="row align-items-center">
            <div class="col-xl-12 mx-auto">
                <h2 class="mb-4 text-center text-white">Contact Us</h2>
            </div>
            <div class="col-md-10 col-lg-8 col-xl-7 mx-auto align-items-center">
                <form>
                    <div class="row">
                        <div class="col ml-3">
                            <label for="name" class="h4 text-white">Name:<span class="text-danger">*</span></label>
                            <input class="form-control" id="name" name="name" type="text">
                        </div>
                        <div class="col mb-4 mr-3">
                            <label for="email" class="h4 text-white">Email:<span class="text-danger">*</span></label>
                            <input class="form-control" id="email" name="email">
                        </div>
                    </div>
                    <div class="col mb-4 mr-3">
                        <label for="subject" class="h4 text-white">Subject:<span class="text-danger">*</span></label>
                        <input class="form-control" id="subject" name="subject">
                    </div>
                    <div class="col mb-3">
                        <label for="message" class="h4 text-white">Message:</label>
                        <textarea class="form-control" name="message" id="message"></textarea>
                    </div>
                    <div class="col mb-3">
                        <button type="submit" class="btn btn-block btn-lg text-white">Send Message</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>

