@page
@model RateMyLearning.Pages.Reviews.IndexModel
@{
    Layout = "_Layout";
}
@{
    ViewData["Title"] = "Create new review";
}

<!-- Full Page Image Header with Vertically Centered Content -->
<header class="masthead">
    <div class="container">
        <div class="row h-100 align-items-center">
            <div class="col-lg-12 text-block">
                <div class="row">
                    <div class="col">
                        <h1 class="font-weight-light text-light mt-5 mr-8 intro-lead-in text-uppercase">Create your review</h1>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>

<!--tab panels for review forms-->
<div class="container mt-5 mb-5">
    <div class="row">
        <div class="col-xl-12 ">
            <nav class="border border-secondary">
                <div class="nav nav-tabs nav-fill" id="nav-tab" role="tablist">
                    <a class="nav-item nav-link active text-uppercase" id="nav-home-tab" data-toggle="tab" href="#nav-home" role="tab" aria-controls="nav-home" aria-selected="true">Programs & Courses</a>
                    <a class="nav-item nav-link text-uppercase" id="nav-profile-tab" data-toggle="tab" href="#nav-profile" role="tab" aria-controls="nav-profile" aria-selected="false">Electives</a>
                    <a class="nav-item nav-link text-uppercase" id="nav-contact-tab" data-toggle="tab" href="#nav-contact" role="tab" aria-controls="nav-contact" aria-selected="false">Continuing Education Courses</a>
                </div>
            </nav>
            <div class="tab-content py-3 px-3 px-sm-0" id="nav-tabContent">
                <!--Tab for program/course review form-->
                <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
                    <!--TODO: If we have time, find way to use textboxes instead of lists so users can
                                create a review for a program that is not listed-->
                    <form method="post">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <div class="">
                            <div class="row">
                                <div class="col mb-4 ml-3 mr-3">
                                    <label asp-for="Review.SchoolId" class="h4" style="font-family:'Agency FB'">School:</label>
                                    <select asp-for="Review.SchoolId" class="form-control" id="school" name="school" asp-items="@Model.Schools">
                                        <option value="none" selected disabled hidden>Select school</option>
                                    </select>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col mb-4 ml-3">
                                    <label asp-for="Review.ProgramId" class="h4" style="font-family:'Agency FB'">Program:</label>
                                    <select asp-for="Review.ProgramId" class="form-control" id="program" name="program" disabled>
                                        <option value="none" selected disabled hidden>Select program</option>>
                                    </select>
                                </div>
                                <div class="col mb-4 ml-3">
                                    <label asp-for="Review.CourseId" class="h4" style="font-family:'Agency FB'">Course:</label>
                                    <select asp-for="Review.CourseId" class="form-control" id="course" name="course" disabled>
                                        <option value="none" selected disabled hidden>Select course</option>
                                    </select>
                                </div>
                                <div class="col mb-4 mr-3">
                                    <label asp-for="Review.Rating" class="h4" style="font-family:'Agency FB'">Choose rating:<span class="text-danger">*</span></label>
                                    <div class="container">
                                        <div class="row">
                                            <div class="col-lg-12">
                                                <div class="star-rating">
                                                    <span class="fa fa-star-o" data-rating="1"></span>
                                                    <span class="fa fa-star-o" data-rating="2"></span>
                                                    <span class="fa fa-star-o" data-rating="3"></span>
                                                    <span class="fa fa-star-o" data-rating="4"></span>
                                                    <span class="fa fa-star-o" data-rating="5"></span>
                                                    <input type="text" id="rating" name="rating" class="rating-value" value="0" hidden>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col mb-3">
                            <label asp-for="Review.Description" class="h4" style="font-family:'Agency FB'">Description:</label>
                            <p>
                                How was your experience in the program and/or course you've completed?<br />What was your greatest achievment during your study period?
                                Do you feel there's need for improvement? (500 characters)
                            </p>
                            <textarea asp-for="Review.Description" class="form-control"></textarea>
                            <span asp-validation-for="Review.Description" class="text-danger"></span>
                        </div>
                        <div class="col mb-3">
                            <button type="submit" class="btn btn-lg text-uppercase text-white" style="font-family:'Agency FB'">Post Review</button>
                        </div>
                    </form>
                </div>
                <!--Tab for electives review form-->
                <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">
                    <form method="post" id="form-elective" name="form-elective">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <div class="">
                            <div class="row">
                                <div class="col mb-4 ml-3 mr-3">
                                    <label asp-for="Review.SchoolId" class="h4" style="font-family:'Agency FB'">School:</label>
                                    <select asp-for="Review.SchoolId" class="form-control" id="elective-school" name="elective-school" asp-items="@Model.Schools">
                                        <option value="none" selected disabled hidden>Select school</option>
                                    </select>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col mb-4 ml-3">
                                    <label asp-for="Review.CourseId" class="h4" style="font-family:'Agency FB'">Elective:</label>
                                    <select asp-for="Review.CourseId" class="form-control" id="elective" name="elective" disabled>
                                        <option value="none" selected disabled hidden>Select elective</option>
                                    </select>
                                </div>
                                <div class="col mb-4 mr-3">
                                    <label asp-for="Review.Rating" class="h4" style="font-family:'Agency FB'">Choose rating:<span class="text-danger">*</span></label>
                                    <div class="container">
                                        <div class="row">
                                            <div class="col-lg-12">
                                                <div class="star-rating">
                                                    <span class="fa fa-star-o" data-rating="1"></span>
                                                    <span class="fa fa-star-o" data-rating="2"></span>
                                                    <span class="fa fa-star-o" data-rating="3"></span>
                                                    <span class="fa fa-star-o" data-rating="4"></span>
                                                    <span class="fa fa-star-o" data-rating="5"></span>
                                                    <input type="text" id="elective_rating" name="elective_rating" class="rating-value" value="0" hidden>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col mb-3">
                            <label asp-for="Review.Description" class="h4" style="font-family:'Agency FB'">Description:</label>
                            <p>
                                How was your experience in the program and/or course you've completed?<br />What was your greatest achievment during your study period?
                                Do you feel there's need for improvement? (500 characters)
                            </p>
                            <textarea asp-for="Review.Description" class="form-control"></textarea>
                            <span asp-validation-for="Review.Description" class="text-danger"></span>
                        </div>
                        <div class="col mb-3">
                            <button asp-page-handler="Elective" type="submit" class="btn btn-lg text-uppercase text-white" style="font-family:'Agency FB'">Post Review</button>
                        </div>
                    </form>
                </div>
                <!--Tab for continuing education review form-->
                <div class="tab-pane fade" id="nav-contact" role="tabpanel" aria-labelledby="nav-contact-tab">
                    <form method="post">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <div class="">
                            <div class="row">
                                <div class="col mb-4 ml-3 mr-3">
                                    <label asp-for="Review.SchoolId" class="h4" style="font-family:'Agency FB'">School:</label>
                                    <select asp-for="Review.SchoolId" class="form-control" id="continuing-education-school" name="continuing-education-school" asp-items="@Model.Schools">
                                        <option value="none" selected disabled hidden>Select school</option>
                                    </select>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col mb-4 ml-3">
                                    <label asp-for="Review.ProgramId" class="h4" style="font-family:'Agency FB'">Program:</label>
                                    <select asp-for="Review.ProgramId" class="form-control" id="continuing-education-program" name="continuing-education-program" disabled>
                                        <option value="none" selected disabled hidden>Select program</option>>
                                    </select>
                                </div>
                                <div class="col mb-4 ml-3">
                                    <label asp-for="Review.CourseId" class="h4" style="font-family:'Agency FB'">Course:</label>
                                    <select asp-for="Review.CourseId" class="form-control" id="continuing-education-course" name="continuing-education-course" disabled>
                                        <option value="none" selected disabled hidden>Select course</option>
                                    </select>
                                </div>
                                <div class="col mb-4 mr-3">
                                    <label asp-for="Review.Rating" class="h4" style="font-family:'Agency FB'">Choose rating:<span class="text-danger">*</span></label>
                                    <div class="container">
                                        <div class="row">
                                            <div class="col-lg-12">
                                                <div class="star-rating">
                                                    <span class="fa fa-star-o" data-rating="1"></span>
                                                    <span class="fa fa-star-o" data-rating="2"></span>
                                                    <span class="fa fa-star-o" data-rating="3"></span>
                                                    <span class="fa fa-star-o" data-rating="4"></span>
                                                    <span class="fa fa-star-o" data-rating="5"></span>
                                                    <input type="text" id="continuing_education_rating" name="continuing_education_rating" class="rating-value" value="0" hidden>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col mb-3">
                            <label asp-for="Review.Description" class="h4" style="font-family:'Agency FB'">Description:</label>
                            <p>
                                How was your experience in the program and/or course you've completed?<br />What was your greatest achievment during your study period?
                                Do you feel there's need for improvement? (500 characters)
                            </p>
                            <textarea asp-for="Review.Description" class="form-control"></textarea>
                            <span asp-validation-for="Review.Description" class="text-danger"></span>
                        </div>
                        <div class="col mb-3">
                            <button asp-page-handler="ContinuingEducation" type="submit" class="btn btn-lg text-uppercase text-white" style="font-family:'Agency FB'">Post Review</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <!--Container that shows all of the user's reviews-->
    <h2 class="mt-2 text-center" style="font-family:'Agency FB'">Your Reviews</h2>
    <div class="card mt-4">
        <div class="card-body">
            <div class="row">
                <div class="col-md-10">
                    @foreach (var item in Model.ReviewData.Reviews)
                    {
                        <p>
                            <a class="float-left"><strong>@item.Program.Name</strong></a>
                            @{ string rating = "";
                                for (var i = 0; i < 5; i++)
                                {
                                    if (i < item.Rating)
                                    {
                                        if (item.Rating % 1 > 0)
                                        {
                                            rating += @"<span class='float-right'><i class='text-warning fa fa-star-half-o'></i></span>";
                                        }
                                        else
                                        {
                                            rating += @"<span class='float-right'><i class='text-warning fa fa-star checked'></i></span>";
                                        }
                                    }
                                }
                                @Html.Raw(rating);
                                <br />
                                <a class="float-left"><strong>@item.Course.Name</strong></a>
                            }
                        </p>
                        <div class="clearfix"></div>
                        <p>@item.Description</p>
                        @if (item.Users.TypeId == 1)
                        {
                            <p>Student<br />@item.CreatedOn.ToString("dd MMM yyyy")</p>
                        }
                        else if (item.Users.TypeId == 2)
                        {
                            <p>Faculty<br />@item.CreatedOn.ToString("dd MMM yyyy")</p>
                        }
                        <div>
                            <a asp-page="./Edit" asp-route-id="@item.Id">Edit</a>
                            <a asp-route-id="@item.Id" asp-page-handler="Delete">Delete</a>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>
@section scripts{
    @await Html.PartialAsync("_ValidationScriptsPartial")
}


