@page
@model RateMyLearning.Pages.Reviews.TestModel
@{
    Layout = null;
}

@*TODO: move this if/else statement to the view model*@

@foreach (var item in Model.ReviewData.Reviews) {
    @if (item.Users.TypeId == 1) {
        <p>@item.Description - @item.CreatedOn.ToString("dd MMM yyyy") - @item.Program.Name - Student - @item.Rating</p>
    }
    else if (item.Users.TypeId == 2) {
        <p>@item.Description - @item.CreatedOn.ToString("dd MMM yyyy") - @item.Program.Name - Faculty - @item.Rating</p>
    }
    else {
        <p>@item.Description - @item.CreatedOn.ToString("dd MMM yyyy") - @item.Program.Name - Guest - @item.Rating</p>
    }
}
